apiVersion: v1
kind: Service
metadata:
  name: quote
  annotations:
        a8r.io/description: "Quote of the moment service"
        a8r.io/owner: "No owner"
        a8r.io/chat: "#ambassador"
        a8r.io/bugs: "https://gitlab.com/luishernandez2/issues"
        a8r.io/documentation: "https://gitlab.com/luishernandez2/blob/master/README.md"
        a8r.io/repository: "https://gitlab.com/luishernandez2/qotm.git"
        a8r.io/support: "http://a8r.io/Slack"
        a8r.io/runbook: "https://gitlab.com/luishernandez2/blob/master/README.md"
        a8r.io/incidents: "https://gitlab.com/luishernandez2/issues"
        a8r.io/dependencies: "None"
        a8r.io/rollouts.scm.path: "manifests"
        a8r.io/rollouts.scm.branch: "main"
        a8r.io/rollouts.image-repo.type: "gitlab"
        a8r.io/rollouts.image-repo.name: "luishernandez2/qotm"
        a8r.io/rollouts.deployment: "quote"
        a8r.io/rollouts.mappings: "quote-ui"
spec:
  ports:
  - name: http
    port: 80
    targetPort: 80
  selector:
    app: quote
